@import 'bootstrap';
@import 'bootstrap/theme';


body {
  // background-image: url('http://i.imgur.com/2jDURcW.jpg');
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 45px;
  background-color: #fff;
}

.heading {
  font-size: 120px;
  color: #3175B0;
  font-weight: 300;
}

.slide {
  height: 150px;
  float: left;
}

.jumbotron {
  box-shadow: 10px 10px 5px #eee;
}

.btn-default {
  color: #000;
  font-weight: 300;
}

.btn-default:hover {
  color: #f55567;
}

.auth {
  max-width: 40%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 20px;
}

.create {
  max-width: 65%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 20px;
}

.bubble {
position: relative;
margin: 0 auto;
width: 100%;
height: 250px;
padding: 20px;
background: none;
-webkit-border-radius: 33px;
-moz-border-radius: 33px;
border-radius: 33px;
border: #f55567 solid 4px;
}

.bubble:after {
content: '';
position: absolute;
border-style: solid;
border-width: 22px 21px 0;
border-color: transparent;
display: block;
width: 0;
z-index: 1;
bottom: -22px;
left: 399px;
}

.bubble:before {
content: '';
position: absolute;
border-style: solid;
border-width: 27px 26px 0;
border-color: #f55567 transparent;
display: block;
width: 0;
z-index: 0;
bottom: -31px;
left: 498px;
}

.panel-heading {
    background-color: #3175B0;
    color: #fff;
    padding: 0;
}
.ember-light-table,body,html{font-family:'Open Sans Condensed',sans-serif}.spinner,.tip{text-align:center}.spinner{margin:15px auto;width:50px;height:50px;font-size:10px}.spinner>div{background-color:#f55567;height:100%;width:4px;display:inline-block;-webkit-animation:sk-stretchdelay 1.2s infinite ease-in-out;animation:sk-stretchdelay 1.2s infinite ease-in-out}.spinner .rect2{-webkit-animation-delay:-1.1s;animation-delay:-1.1s}.spinner .rect3{-webkit-animation-delay:-1s;animation-delay:-1s}.spinner .rect4{-webkit-animation-delay:-.9s;animation-delay:-.9s}.spinner .rect5{-webkit-animation-delay:-.8s;animation-delay:-.8s}@-webkit-keyframes sk-stretchdelay{0%,100%,40%{-webkit-transform:scaleY(.4)}20%{-webkit-transform:scaleY(1)}}@keyframes sk-stretchdelay{0%,100%,40%{transform:scaleY(.4);-webkit-transform:scaleY(.4)}20%{transform:scaleY(1);-webkit-transform:scaleY(1)}}.ember-light-table{width:95%;margin:0 auto;border-collapse:collapse}.ember-light-table .multi-select{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.ember-light-table tfoot .lt-column{border-top:1px solid #DADADA}.ember-light-table thead .lt-column{border-bottom:1px solid #DADADA; color:#3175B0; font-size:16px;}.ember-light-table .lt-column{font-weight:200;font-size:12px;padding:10px}.ember-light-table .lt-column .lt-sort-icon{width:15px}.ember-light-table .lt-column.lt-group-column{border:none!important;padding-bottom:10px}.ember-light-table .lt-row{height:50px}.ember-light-table .lt-row.is-selected{background-color:#DEDEDE!important}.ember-light-table .lt-row:not(.is-selected):hover{background-color:#F5F4F4!important}.ember-light-table .lt-row:last-of-type td{border-bottom-width:0}.ember-light-table .lt-row.lt-expanded-row:hover,.ember-light-table .lt-row.lt-no-data:hover{background-color:transparent!important}.ember-light-table .lt-row.lt-expanded-row td,.ember-light-table .lt-row.lt-no-data td{padding:15px}.ember-light-table .lt-row td{border-color:#DADADA;border-width:0 0 1px;border-style:solid;font-size:18px;padding:0 10px}body,html{min-height:100%;min-width:100%;background-color:#f6f6f6;height:100%}.navbar.navbar-default{background-color:#fff;margin:0}.navbar.navbar-default .navbar-brand{color:#797979;font-size:16px;font-weight:400}.navbar.navbar-default .navbar-brand img{height:32px;display:inline-block;margin-top:-15px}.navbar.navbar-default .navbar-brand span{font-size:12px;vertical-align:super;text-transform:uppercase;color:#444}.navbar.navbar-default .navbar-nav>li>a{font-size:18px;font-weight:400; color:#000;}.navbar.navbar-default .navbar-nav>li>a.git{font-size:24px}.navbar.navbar-default .navbar-nav>li>a:focus,.navbar.navbar-default .navbar-nav>li>a:hover{color:#3175B0}.navbar.navbar-default .navbar-nav>.active>a,.navbar.navbar-default .navbar-nav>.active>a:focus,.navbar.navbar-default .navbar-nav>.active>a:hover{color:#f55567;background-color:transparent}.panel{width:95%;margin:2.5% auto;position:relative}.panel .table-actions{position:absolute;left:-41px;width:40px;background-color:#fff;border-bottom-left-radius:5px;border-top-left-radius:5px;border:1px solid #ccc;border-right-width:0;top:35%;cursor:pointer}.panel .table-actions .table-action{font-size:20px;text-align:center;display:block;margin:10px;color:#191919;opacity:.8}.panel .table-actions .table-action:active,.panel .table-actions .table-action:hover{opacity:1}.panel .table-actions .table-action.delete{color:#f55567}.panel .panel-heading{background-color:#f55567;padding:0}.panel .panel-heading a{color:#F9F9F9;text-decoration:none}.panel .panel-heading a .panel-title{font-weight:200;padding:15px;}.panel .code-snippet{background-color:#f8f8f8;max-height:500px;overflow:auto}.panel .code-snippet .nav-tabs li>a{color:#8A8A8A;border-radius:2px 2px 0 0;font-size:12px}.panel .code-snippet .nav-tabs li.active>a{background-color:#f8f8f8;color:#696969}.panel .code-snippet .tab-content>.active{padding:15px 15px 0}.panel .code-snippet pre{border:none;margin:0;padding:0}.table-container{overflow-y:auto}.table-container.fixed-header{overflow-y:hidden;margin-bottom:15px}.user-actions a{color:#f55567;padding-right:10px;font-size:18px;width:30px;text-decoration:none;cursor:pointer;padding-top:10px}.user-actions a:active,.user-actions a:focus,.user-actions a:hover{color:#d95743; text-decoration:none;}.user-avatar{border-radius:50%;border:1px solid #ccc}.tip{font-size:13px;color:#4E4E4E}.tip .icon-info{color:#f55567;margin-right:3px}

a:hover {
    text-decoration: none;
}

.panel {
  box-shadow: 10px 10px 5px #eee;;
}

.well {
  background-color:#fff;
  box-shadow: 10px 10px 5px #eee;
}

.well:hover {
  opacity: .7;
  box-shadow: 2px 2px 2px 2px #3175B0;
}
