<div class="jumbotron" style="background-color:#fff;">
  <h1 style="color:#3175B0; font-size:90px;">The Solution</h1>
  <br />
  <div class="form-group">
  <label for="inputlg" style="color:#f55567; font-weight:300;">How does your Startup Solve the Problem?</label>
  <input class="form-control input-lg" id="inputlg" type="text">
  </div>
  <br />
  <label for="inputlg" style="color:#f55567; font-weight:300;">Add Supporting Documents</label>
  {{drop-zone url='/endpoint'}}
  <br />
  <p><a class="btn btn-primary btn-md" href="#" role="button">Save & Close</a></p>
</div>
{{disqus-comments identifier='solution'}}
