<label for="password-confirmation" style="font-weight:300; margin-top:10px;">Password Confirmation</label>
{{input type="password"
        id="password-confirmation"
        placeholder="Password Confirmation"
        value=password}}
