<!-- <span class="label label-primary" style="float:left; font-size:11px;">Share Your StartUp Ideas!</span> -->
<span class="label label-default" style="float:right; font-size:11px;">Welcome {{user}}</span>
<div style="margin:-20px auto 0 auto;">{{#link-to 'index'}}<img src="https://i.imgsafe.org/ea46418c86.png">{{/link-to}}</div>
